body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFFFFF; /* Fondo blanco */
}

.animated-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('769704031451887105.png'); /* Reemplaza con la ruta de tu imagen de topografía */
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    animation: moveBackground 30s linear infinite; /* Animación para mover el fondo */
}

/* Animación de movimiento circular del fondo */
@keyframes moveBackground {
    0% {
        background-position: 50% 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        background-position: 50% 50%;
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100% {
        background-position: 50% 50%;
        transform: translate(-50%, -50%) rotate(720deg);
    }
}

.overlay {
    position: relative;
    width: 100vw;
    height: 100vh;
    pointer-events: none; /* Para que los elementos debajo se puedan interactuar */
}

.reticula {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.indicadores {
    position: absolute;
    width: 100%;
    height: 100%;
}

.indicador {
    position: absolute;
    color: #fff;
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

.indicador.longitud {
    top: 10px;
    right: 10px;
    animation: moveLongitud 5s linear infinite;
}

.indicador.altitud {
    bottom: 10px;
    left: 10px;
    animation: moveAltitud 5s linear infinite;
}

@keyframes moveLongitud {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes moveAltitud {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(0);
    }
}

